@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oswald&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	text-transform: capitalize;
	font-family: 'Oswald', sans-serif;
	transition: .2s linear;
}
/*h1,h5{
	margin: 0;
}
*/
.btn__dark{
	background-color: black;
	color: whitesmoke;
	padding: 15px 25px;
	border-radius:100px;
	font-size: 14px;
	letter-spacing: 2px;
	margin-top: 50px;
	display: inline-block;
}
.btn__dark:hover{
	background-color: whitesmoke;
	color: black;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: white;
	padding: 1rem 6%;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	display: flex;
}




header .logo{
	font-size: 3rem;
	color: black;
	font-weight: bold;
	letter-spacing: 5px;
}

header .logo span{
	color: orange;
}

header .navbar a{
    font-size: 1.3rem;
    padding: 0 1.2rem;
    color: black;
}

header .navbar a:hover{
	/*background-color: orange;*/
	color:orange;
	/*border-radius: 10px;*/
}

header .icons a{
	font-size: 1.5rem;
	color: black;
	margin-left: 2rem;
}

header .icons a:hover{
	color: orange;
}

/*home section*/

.home__section{
	width: 100%;
	height: 100vh;
	background:linear-gradient(orange,red),url("home.jpg");
	background-size: cover;
	background-blend-mode: multiply;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: slide 10s infinite;

}

@keyframes slide{
	25%{
		background:url("image1.jpg");
		background-size: cover;
		width: 100%;
	    height: 100vh;
	}
	50%{
		background:linear-gradient(orange,red),url("image2.jpg");
		background-size: cover;
		width: 100%;
	    height: 100vh;
	}
	75%{
		background:url("image3.jpg");
		background-size: cover;
		width: 100%;
	    height: 100vh;
	}
	100%{
		background:linear-gradient(orange,red),url("image6.jpg");
		background-size: cover;
		width: 100%;
	    height: 100vh;
	}

}

.home__text{
	color: white;
	text-align: center;
}

.home__text h1{
	font-size: 100px;
	font-weight: 500;
	text-transform: capitalize;
}

.home__text p{
	letter-spacing: 1px;
	text-transform: capitalize;
	font-size: 20px;

}

/*about section*/
.about__section{
      
      margin-top: 40px;
}

.about .row{
	display: flex;
	align-items: center;
	column-gap: 2rem;
	flex-wrap: wrap;
	padding: 2rem 0;
	padding-bottom: 3rem;
	
}

.about .row .video-container{
	flex: 1 1 40rem;
	position: relative;
}

.about .row .video-container img{
	width: 100%;
	border-radius: 1.5rem solid white;
	border-radius: .5rem;
	box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
	height: 500px;
	margin-left: 20px;
}

.about .row .video-container h3{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3rem;
	background:white;
    width: 600px;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
    
}

.about .row .content{
	flex: 1 1 40rem;
}

.about .row .content h3{
	font-size: 1.5rem;
	color: black;
}

.about .row .content p{
	font-size: 1.5rem;
	color: black;
	padding: .5rem 0;
	padding-top: 1rem;
	line-height: 1.5;
}

.about__section h1{
	text-align: center;
	font-size: 4rem;
	color: black;
	padding: 1rem;
	margin-top: 2rem 0;
	width: 1200px;
	height: 100px;
	background:linear-gradient(yellow,red);
	margin-bottom:25px;
	margin-left: 60px;
	border-radius:10px;
	box-shadow: 4px 4px yellow;
	letter-spacing: 4px;

}

.about__section h1 span{
	color: white;

}

.btn{
	display: inline-block;
	margin-top: 1rem;
	border-radius: 5rem;
	background: black;
	color: white;
	padding: .9rem 3.5rem;
	cursor: pointer;
	font-size: 1.7rem;
}

.btn:hover{
	background:orange;
}

/*recipe section*/

.recipe__section{
	padding: 70px 0;
} 

.recipe__section h1{
	text-align: center;
	font-size: 4rem;
	color: black;
	padding: 1rem;
	margin-top: 2rem 0;
	width: 1200px;
	height: 100px;
	background:linear-gradient(red,yellow);
	margin-bottom:25px;
	margin-left: 60px;
	border-radius:10px;
	box-shadow: 4px 4px red;

}

.recipe__section h1 span{
	color: white;
}

.image__wraper{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}

.image__wraper img{
	width: 100%;
	height: 500px;
	max-width: 100%;
	transform: all 0.4s;
	
}

.image__wraper:hover img{
	transform: scale(1.2,1.2);
	cursor: pointer;
}

.image__wraper-text{
	max-height: 150px;
	/*width: 100%;*/
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	color: white;
	bottom: 0px;
	text-align: center;
	padding: 30px 15px;


}

.image__wraper-text h5{
	color: orange;
	font-size: 30px;
	font-weight:bolder;
}

.image__wraper-text p{
	line-height: 30px;
}

/*chef section*/

.chefs .chefs-container{
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	margin-top: 1.5rem;
}

.chefs .chefs-container .chef-box{
	position: relative;
	height: 420px;
	flex: 1 1 18rem;
	overflow: hidden;
	/*display: flex;*/
	
}
.chefs h1{

	text-align: center;
	font-size: 4rem;
	color: black;
	padding: 1rem;
	margin-top: 2rem 0;
	width: 1200px;
	height: 100px;
	background:linear-gradient(red,yellow);
	margin-bottom:25px;
	margin-left: 60px;
	border-radius:10px;
	box-shadow: 4px 4px red;
}
 .chefs h1 span{
 	color: white;
 }
 .chefs .chefs-section .chef-box img{
 
 	width: 500px;
 	height: 100%;
 	background-size: cover;
 	padding-top: 20px;
 	
 }
 .chefs .chefs-section .chef-box{

 	width: 500px;
	height: 25rem;
	margin-left:130px;
    margin-top: 20px;
    margin-bottom: 40px;
	position: relative;
	/*overflow: hidden;*/
	display: inline-block;
	box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
	
  }

 .chefs .chefs-section. chef-box .text{

 position: absolute;
	top: 50%;
	left: 50%;
     transform-origin: bottom;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	}

	.chefs-section .chef-box .text h2{
		font-size: 45px;
		font-weight: bold;
	}
	.chefs-section .chef-box .text p{
		font-size: 20px;
	}

  .chef-box .text .btn1{
     
     display: inline-block;
	margin-top: 1rem;
	border-radius: 5rem;
	margin-bottom: 10px;
	background: black;
	color: white;
	padding: .7rem 2.5rem;
	cursor: pointer;
	font-size: 1.7rem;

  }

    .chef-box .text .btn1:hover{
    	background-color: orange;
    }
/* our services */

.services{
	
	padding: 70px 0;

}
.services .head2{
	text-align: center;
	font-size: 4rem;
	color: black;
	padding: 1rem;
	margin-top: 20% 0;
	width: 1200px;
	height: 100px;
	background:linear-gradient(yellow,red);
	margin-bottom:25px;
    border-radius:10px;
	box-shadow: 4px 4px yellow;
	margin-left: 70px;
}
#ff{
	color:white;
}
.services.ee{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
}
.services .ee .box{
	width: 25rem;
	height: 25rem;
	margin-left:180px;
    margin-top: 20px;
    margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	border-radius: 25%;
	}
.services .ee .box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.services .ee .box .info{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	transform-origin: bottom;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.7);
	transition: 1s;
}
.services .ee .box:hover .info{
	transform: translate(-50%,-50%) scale(1);

}
.services .ee .box .info h3{
	font-size: 3rem;
	color: orange;
	margin-bottom: 1.2rem;
}
.services .ee .box .info p{
	line-height: 2;
	color: white;
	font-size: 1.1rem;
	padding: 0 1rem;
	margin-bottom: 1.2rem;
}
.k-btn{
	background: transparent;
	padding: 10px 20px;
	color: orange;
	border: 1px solid orange;
	border-radius: 20px;
	margin: 30px;
	font-size: 20px;

	

}
.k-btn:hover{
	background-color: orange;
	color: white;
	
}
/*contact section*/
.contact{
    position: relative;	
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background: url("dinner.jpg");*/
    background:linear-gradient(orange,red);
    background-size: cover;
    box-sizing: border-box;
}
.contact .content{
	max-width: 800px;
	text-align: center;
}
.contact .content h1{
	font-size: 36px;
	font-weight:bold;
	color: black;
}
.contact .content p{
	font-size: 25px;
	font-weight: 300;
	color: black;
}
.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container .contactInfo{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contactInfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container .contactInfo .box .icon{
	min-width: 60px;
	height: 60px;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.container .contactInfo .box .text{
	display: flex;
	margin-left: 10px;
	font-size: 16px;
	color: whitesmoke;
	flex-direction: column;
	font-weight: 300;
}
.container .contactInfo .box .text h2{
	font-weight: 40%;
	color:white;
	font-size: 35px;
	text-align: center;
	display: inline-block;

}
.container .contactInfo .box .text p{
	font-weight: 40%;
	color:black;
	font-size: 30px;
	text-align: center;

}

.contactForm{
	width: 40%;
	padding: 60px;
	background: #fff;
}
.contactForm h2{
	font-size: 30px;
	color: #333;
	font-weight: 500;

}
.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputBox input,.contactForm .inputBox textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
	width: 100px;
	background: orange;
	color: #fff;
	border-radius: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}



